@using Designo.Website.Props;


@model Dictionary<AboutProperty, String>


<style>
        #section-@Model[AboutProperty.ID] {
            background-image: url('@Model[AboutProperty.IMAGE_SM]');
        }

        @@media(min-width: 768px) {

            #section-@Model[AboutProperty.ID] {
                background-image: url('@Model[AboutProperty.IMAGE_MD]');
            }
        }

        @@media(min-width: 1024px) {
            #section-@Model[AboutProperty.ID] {
                background-image: url('@Model[AboutProperty.IMAGE_LG]');
            }

            #about-hero {
                background-size: 68%;
                background-position-x: -34px;
                background-position-y: 78%;
            }
        }
</style>


<div class="flex bg-[#E7816B] bg-no-repeat flex-col justify-end overflow-hidden h-[715px]  md:bg-[url('/assets/home/desktop/bg-pattern-hero-home.svg')] md:bg-none md:w-[87%] md:mx-auto md:rounded-lg md:h-[632px] lg:flex-row-reverse lg:h-[480px] lg:bg-[url('/assets/home/desktop/bg-pattern-hero-home.svg')] lg:bg-right-bottom" id="about-hero">
    <div class="h-[50%] bg-no-repeat bg-cover bg-top md:w-[100%] lg:h-full lg:w-[35%]" id="section-@Model[AboutProperty.ID]">
    </div>
    <div class="flex flex-col gap-[15px] bg-no-repeat bg-left-top bg-[url('/assets/shared/desktop/bg-pattern-two-circles.svg')] lg:bg-none items-center justify-center h-[50%] px-[44px] md:w-[100%] lg:h-full lg:w-[65%] lg:items-start lg:px-[83px]">
        <p class="font-medium text-[32px] text-white">About Us</p>
        <p class="text-white leading-[26px] text-center lg:text-left">
            Founded in 2010, we are a creative agency that produces lasting results for our clients. We&rsquo;ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real impact. We&rsquo;re always looking forward to creating brands, products, and digital experiences that connect with our clients&rsquo; audiences.
        </p>
    </div>
</div>