@using Designo.Website.Models;
@using Designo.Website.Props;

@model AboutContent


<style>
        #about-image-@Model.Id {
            background-image: url('/assets/about/mobile/@Model.Img');
        }

        .main-about-image {
            height: 865px;
         }

        @@media(min-width: 768px) {

            #about-image-@Model.Id {
                background-image: url('/assets/about/tablet/@Model.Img');
            }

            .main-about-image {
                height: 736px;
            }
        }

        @@media(min-width: 1024px) {
            #about-image-@Model.Id {
                background-image: url('/assets/about/desktop/@Model.Img');
            }
            .main-about-image {
                height: 640px;
            }
        }
 </style>



 <div class="flex flex-col justify-end overflow-hidden md:w-[87%] md:mx-auto md:rounded-lg @ViewData[AboutProperty.FLEX_DIRECTION.ToString()] main-about-image">
    <div class="h-[30%] bg-no-repeat bg-cover bg-top md:h-[40%] md:w-[100%] lg:h-full lg:w-[35%]" id="about-image-@Model.Id">
    </div>
    <div class="flex flex-col gap-[15px] bg-no-repeat bg-[url('/assets/shared/desktop/bg-pattern-three-circles.svg')] lg:bg-left-bottom lg:bg-[url('/assets/shared/desktop/bg-pattern-two-circles.svg')] items-center justify-center h-[70%] md:h-[60%] bg-[#FDF3F0] px-[44px] md:w-[100%] lg:h-full lg:w-[65%] lg:items-start lg:px-[83px]">
        <p class="font-medium text-[32px] text-[#E7816B]">@Model.Title</p>
        <div>
            <p class="leading-[26px] text-center lg:text-left">@Model.Intro</p>
            <p class="leading-[26px] text-center lg:text-left" style="margin-top: 38px;">@Model.Content</p>
        </div>
    </div>
</div>