@using Designo.Website.Models

@model Location

<div class="flex flex-col justify-center items-center">
    <img src="~/assets/shared/desktop/@Model.Img" class="bg-top" style="background: url('assets/about/mobile/bg-location.svg')" />
    <p class="text-[20px] font-medium">@Model.Name</p>
    <button class="bg-white hover:bg-[#FFAD9B] font-bold py-2 px-4 rounded uppercase" style="z-index: 4;">
        LEARN MORE
    </button>
</div>