@using Designo.Website.Models

@model Location

<div class="flex flex-col justify-center items-center">
    <img src="~/assets/shared/desktop/@Model.Img" class="bg-top" style="background: url('assets/about/mobile/bg-location.svg')" />
    <p class="text-[20px] font-medium mt-[54px] text-[#333136] uppercase">@Model.Name</p>
    <a class="mt-[38px] text-white bg-[#E7816B] hover:bg-[#FFAD9B] font-medium py-2 px-4 rounded uppercase cursor-pointer" style="z-index: 4;">
        SEE LOCATION
    </a>
</div>